{% assign posts = site.posts %}
{% if site.paginate > 0 %}{% assign posts = paginator.posts %}{% endif %}

<section id="posts" class="posts-expand">
  <div class="tags">
    <div class="title">
      标 签
    </div>
    <div class="tags-contain">
      {% for tag in site.tag %}
      <span class="tags-item">{{ tag.name }}</span>
      {% endfor %}
    </div>
  </div>
  <div class="project">
    <div class="title">
      作 品
    </div>
    <div class="project-detail">
      {% for pro in site.project %}
      <div class="project-item">
        <div class="project-content">
          <img src="{{ pro.img }}" alt="">
          <p class="project-title">{{ pro.title }}</p>
          <p class="create-time">{{ pro.create-time }}</p>
          <p class="description">{{ pro.description }}</p>
          <a href="{{ pro.href }}" class="link-to">在线demo</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>