{% assign posts = site.posts %}
{% if site.paginate > 0 %}{% assign posts = paginator.posts %}{% endif %}

<section id="posts" class="posts-expand">
  {% for post in posts %}
  {% assign is_index = true %}
  <!-- include _macro/post.html -->
  {% endfor %}
</section>

<section>
  <div class="project">
    <p>个人作品</p>
  </div>

  <div class="project-detail">
    {% for pro in site.project %}
    <div class="project-item">
      <div class="project-content">
        <img src="{{ pro.img }}" alt="">
        <p class="project-title">{{ pro.title }}</p>
        <p class="create-time">{{ pro.create-time }}</p>
        <p class="description">{{ pro.description }}</p>
        <a href="{{ pro.href }}" class="link-to">查看demo</a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<!-- {% include _partials/pagination.html %} -->