{% assign posts = site.posts %}
{% if site.paginate > 0 %}{% assign posts = paginator.posts %}{% endif %}

<section id="posts" class="posts-expand">
  <div class="tags">
    <div class="title">
      个 人 标 签
    </div>
    <div class="tags-contain">
      {% for tag in site.tag %}
      <span class="tags-item">{{ tag.name }}</span>
      {% endfor %}
    </div>
  </div>
  <div class="project">
    <div class="title">
      作 品 展 示
    </div>
    <div class="project-detail">
      {% for pro in site.project %}
      <div class="project-item">
        <div class="project-content">
          <!-- <img src="{{ pro.img }}" alt=""> -->
          <p class="project-title"><span class="fa fa-fw fa-{{ pro.class | default: 'globe' | downcase }}"></span>&nbsp;{{ pro.title }}</p>
          <p class="create-time">{{ pro.create-time }}</p>
          <p class="description">{{ pro.description }}</p>
          <a href="{{ pro.demoHref }}" class="link"><span class="fa fa-fw fa-link"></span>Demo</a>
          <a href="{{ pro.href }}" class="link"><span class="fa fa-fw fa-code"></span>源代码</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <p class="more">更多个人信息，请移至<a href="/about/" class="link"><span class="fa fa-fw fa-star"></span>关于 </a> 页面，感谢关注</p>
</section>